[submodule "plugins/migrations"]
	path = plugins/migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "plugins/search"]
	path = plugins/search
	url = git://github.com/CakeDC/search.git
